<div
  id="grid-container"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
>
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
  <app-list-card />
</div>

<!-- 
 -->
<!-- <div class="flex flex-col gap-4">
  <app-list-card 
  *ngFor="let workout of workouts" 
  [workout]="workout"
  />
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
    #pagiantor
  ></p-paginator>
</div> -->
