<div id="workout-page" class="flex flex-col font-body">
  <h1 class="text-3xl flex justify-center md:justify-start">Air Bike</h1>
  <div id="img-and-info" class="flex flex-wrap justify-between mb-8 mt-5">
    <div class="w-full md:w-[49.5%]">
      <img
        src="https://raw.githubusercontent.com/yuhonas/free-exercise-db/main/exercises/Air_Bike/0.jpg"
        alt=""
        class="w-full h-auto rounded-lg"
      />
    </div>

    <div
      class="w-full md:w-[49.5%] flex flex-col items-center justify-center text-base mt-5 md:mt-0"
    >
      <div
        class="bg-primary-op border-gray-400 border-[1px] shadow flex flex-col justify-evenly h-full w-full p-5 rounded-lg lg:text-xl"
      >
        <div>Force: Pull</div>

        <div>Mechanic: Compound</div>

        <div>Equipment: Body Only</div>

        <div>Primary Muscles: Abdominals</div>

        <div>Secondary Muscles: None</div>

        <div>Category: Strength</div>
      </div>
    </div>
  </div>
  <div id="instructions-container">
    <h2 class="md:text-xl font-bold underline mb-3 font-[Georgia]">
      Instructions:
    </h2>
    <p class="mb-3 font-[Georgia]">
      Lie flat on the floor with your lower back pressed to the ground. For this
      exercise, you will need to put your hands beside your head. Be careful
      however to not strain with the neck as you perform it. Now lift your
      shoulders into the crunch position.
    </p>
    <p class="mb-3 font-[Georgia]">
      Bring knees up to where they are perpendicular to the floor, with your
      lower legs parallel to the floor. This will be your starting position.
    </p>
    <p class="mb-3 font-[Georgia]">
      Now simultaneously, slowly go through a cycle pedal motion kicking forward
      with the right leg and bringing in the knee of the left leg. Bring your
      right elbow close to your left knee by crunching to the side, as you
      breathe out.
    </p>
    <p class="mb-3 font-[Georgia]">
      Go back to the initial position as you breathe in.
    </p>
    <p class="mb-3 font-[Georgia]">
      Crunch to the opposite side as you cycle your legs and bring closer your
      left elbow to your right knee and exhale.
    </p>
    <p class="mb-3 font-[Georgia]">
      Continue alternating in this manner until all of the recommended
      repetitions for each side have been completed.
    </p>
  </div>
</div>
