<h1 class="text-5xl font-heading text-center mb-20">
  Welcome to WorkoutTracker
</h1>
<p class="font-body text-xl text-center mb-14">
  I wanted a simple way to create workout routines while also keeping track of
  when I completed the routines.
  <br />
  So I made WorkoutTracker to help assist me and anyone else that would like to
  do the same!
</p>
<div
  id="features-list"
  class="py-6 flex justify-around items-center bg-secondary-op rounded-md font-body"
>
  <div id="current-features-container" class="w-5/12 h-64">
    <h3 class="text-3xl underline">Current Features:</h3>
    <ul class="list-disc pl-5 text-lg">
      <li class="">
        View over 100 available workouts with images, instructions, and other
        info about each exercise!
      </li>
    </ul>
  </div>
  <div class="h-64 border border-black"></div>
  <div id="features-in-progress-container" class="w-5/12 h-64">
    <h3 class="text-3xl underline">Features in Progress:</h3>
    <ul class="list-disc pl-5 text-lg">
      <li>Make an account to create your own workout routines.</li>
      <li>
        Keep track of the days you completed a routine and schedule your future
        workouts.
      </li>
    </ul>
  </div>
</div>
