<a
  href=""
  class="max-h-96 block max-w-96 lg:max-w-sm p-6 bg-primary-op border hover:bg-primary-hover border-gray-300 rounded-lg shadow hover:border-gray-400 dark:bg-primary-dark dark:border-gray-700 dark:hover:bg-gray-700"
>
  <img
    src="https://raw.githubusercontent.com/yuhonas/free-exercise-db/main/exercises/Air_Bike/0.jpg"
    alt=""
    class="object-contain"
  />
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Air Bike
  </h5>
  <!-- <p class="font-normal text-gray-700 dark:text-gray-400">
    Here are the biggest enterprise technology acquisitions of 2021 so far, in
    reverse chronological order. Level: Beginner Equipment: Body Only Force:
    Pull
  </p> -->
  <ul class="font-normal text-black dark:text-white">
    <li>Level: Beginner</li>
    <li>Equipment: Body Only</li>
    <li>Force: Pull</li>
  </ul>
</a>
